
@import url('fancybox/jquery.fancybox.css');
@import url('bootstrap.min.css');
@import url('shortcodes.css');
@import url('fonts.css');

html, body {
	height: 100%;
}

html {
	width: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: 500;
	line-height: 1em;
}

a {
	color: #f26f21;
	cursor: pointer;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	color: #b6b6b6;
	outline: 0;
	text-decoration: none;
}

a img {
	border: none;
}

a > img {
	vertical-align: bottom;	
}

img {
	max-width: none;	
}

strong {
  	font-weight: 600;
}

p {
	margin: 0 0 30px;
}

hr {
	border-style: dashed;
	border-color: #3C3F45;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 50px 0;	
}

.align_left {
	float:left;
	margin:0 25px 0 0px!important;
}

.align_right {
	float:right;
	margin:0 0 0 25px!important;
}

.text_align_left {
	text-align: left;
}

.text_align_center {
	text-align: center;
}

.text_align_right {
	text-align: right;	
}

.color-text {
    color: #f26f21;
}

.through {
	text-decoration: line-through;
}

input, button, select, textarea {
	font-weight: 300;
	outline: 0;
}

input:focus, 
textarea:focus,
input[type="text"]:focus {
	outline: 0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #7F8289;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #7F8289;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7F8289;
}

code,
pre {
  	border-radius: 3px;
  	padding: 0 3px 2px;
  	color: #232527;
  	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  	font-size: 12px;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
}

code {
  	border: 1px solid #dde4e9;
	color: #232527;
  	background-color: #F6F6F6;
  	padding: 2px 4px;
  	white-space: nowrap;
}

pre {
  	background-color: #fcfcfc;
  	border: 1px solid #dde4e9;
  	border-radius: 4px;
  	display: block;
  	font-size: 12px;
  	line-height: 20px;
  	margin: 70px 50px;
  	padding: 30px;
  	white-space: pre;
  	white-space: pre-wrap;
  	word-wrap: break-word;
  	word-break: break-all;
}

pre code {
  	background-color: transparent;
  	border: 0;
  	color: inherit;
  	padding: 0;
  	white-space: pre;
  	white-space: pre-wrap;
}

.pre-scrollable {
  	overflow-y: scroll;
  	max-height: 340px;
}

h3.spec {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}

header {
	width: 100%;
	z-index: 99;
}

header .sticky-nav {
	background: #6b6b6b;
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0;
	clear: both;
	height: 98px;
	position: relative;
	width: 100%;
	z-index: 1001;
}

header .sticky-nav.stuck {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 1001;
}

header #logo-wrapper {
	background: #fff;
	height: 68px;
}

header #logo {
	float: left;
	padding: 0;
	margin-left: 20px;
}

header #logo a {
	background: url(../img/logoMapps162x68.png) no-repeat;
	display: block;
	filter: alpha(opacity=100);
	height: 68px;
	opacity: 1;
	text-indent: -9999px;
	transition: opacity 0.25s ease-in-out 0s;
	width: 162px;
}

header #logo a:hover {
	filter: alpha(opacity=65);
	opacity: 0.65;
}

nav#menu {
	float: right;
	margin-right: 10px;
}

nav#menu #menu-nav {
	border: 0;
	margin: 0;
	padding: 0;
}

nav#menu #menu-nav li {
	display: inline-block;
	list-style: none;
}

nav#menu #menu-nav li:first-child {
	margin-left: 0;	
}

nav#menu #menu-nav li a {
	color: #fff;
	display: block;
	font-size: .8em;
	font-weight: 500;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
}

nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
	background: #f26f21;
}

footer {
	background: #f6f6f6;
	font-size: .8em;
	font-weight: 200;
	height: auto;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 99;
}

footer .credits {
	margin-bottom: 0;
	padding: 20px 0;
}

#mobile-nav {
	display: none;	
}

.menu-nav {
	background:url(../img/menu-mobile.png) 0 0 no-repeat;
	display: block;
	height: 16px;
	margin: 8px 0 0 0;
	transform: rotate(0deg);
	transition: transform 250ms ease-out 0s;
	width: 16px;
	-moz-transform: rotate(0deg);
	-moz-transition: -moz-transform 250ms ease-out 0s;
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-o-transition: -o-transform 250ms ease-out 0s;
	-webkit-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 250ms ease-out 0s;
}

.menu-nav.open {
	background-position: 0 -16px;
	transform: rotate(-180deg);
	transition: transform 250ms ease-out 0s;
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-moz-transition: -moz-transform 250ms ease-out 0s;
	-o-transform: rotate(-180deg);
	-o-transition: -o-transform 250ms ease-out 0s;
	-webkit-transform: rotate(-180deg);
	-webkit-transition: -webkit-transform 250ms ease-out 0s;
}

#navigation-mobile {
	background: #eee;	
	border-bottom: 1px solid #f6f6f6;
	display: none;
	float: left;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 9999;
}

#navigation-mobile li {
	border-top: 1px solid #f6f6f6;
	list-style: none;
}

#navigation-mobile li a{
	display: block;
	font-size: 16px;
	padding: 20px 0;
}

.page, .page-alternate {
	border-bottom: 1px solid #e5e5e5;
}

.page {
	background: #fff;
	padding: 50px 0;
	position: relative;
	z-index: 99;
}

.page-alternate {
	background: #f6f6f6;
	padding: 50px 0;
	position: relative;
	z-index: 99;
}

.title-page {
	text-align: center;
	margin-bottom: 60px;	
}

.title-page .title {
	font-size: 4em;
	font-weight: bold;
	letter-spacing: -3px;
	line-height: 1.1em;
	margin: 0 0 10px 0
}

.title-page .title-description {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.6em;
	margin: 0;
}

.type-work {
	font-size: 1.7em;
	font-weight: 500;
	letter-spacing: -1px;
	line-height: .5em;
	margin-bottom: 30px;
}

.work-nav #filters {
	list-style: none;
	margin: 0;
	padding: 0;
}

.work-nav #filters li {
	margin: 0 0 30px 0;
	padding: 0;
}

.work-nav #filters li a {
	color: #7F8289;
	display: block;
	font-size: 1em;
}

.work-nav #filters li a:hover {
	color: #f78f00;
}

.work-nav #filters li a.selected {
	color: #f26f21;
}

#thumbs {
	margin: 0;
	padding: 0;	
}

#thumbs li {
	list-style-type: none;
}

.item-thumbs {
	cursor: pointer;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

.item-thumbs a + img {
	width: 100%;
}

.item-thumbs .hover-wrap {
	display: block;
	filter: alpha(opacity=0);
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	transition: all 450ms ease-out 0s;
	transform: rotateY(180deg) scale(0.5,0.5);	
	-moz-transition: all 450ms ease-out 0s;
	-moz-transform: rotateY(180deg) scale(0.5,0.5);
	-ms-transform: rotateY(180deg) scale(0.5,0.5);
	-o-transition: all 450ms ease-out 0s;
	-o-transform: rotateY(180deg) scale(0.5,0.5);
	-webkit-transition: all 450ms ease-out 0s;
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
}

.item-thumbs:hover .hover-wrap,
.item-thumbs.active .hover-wrap {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: rotateY(0deg) scale(1,1);
	-moz-transform: rotateY(0deg) scale(1,1);
	-ms-transform: rotateY(0deg) scale(1,1);
	-o-transform: rotateY(0deg) scale(1,1);
	-webkit-transform: rotateY(0deg) scale(1,1);
}

.item-thumbs .hover-wrap .overlay-img {
	background: #f26f21;
	filter: alpha(opacity=80);
	height: 100%;
	opacity: 0.80;
	position: absolute;
	width: 100%;
}

.item-thumbs .hover-wrap .overlay-img-thumb {
	color: #fff;
	filter: alpha(opacity=100);
	font-size: 32px;
	left: 50%;
	line-height: 1em;
	margin: -16px 0 0 -16px;
	opacity: 1;
	position: absolute;
	top: 50%;
}

.profile-name {
	letter-spacing: -2px;
	line-height: 1.1em;
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 15px;	
}

.profile-description {
	font-weight: 500;
	margin-bottom: 25px;
}

.image-wrap {
	cursor: pointer;
	margin-bottom: 25px;
	overflow: hidden;
	position: relative;
}

.image-wrap img {
	width: 100%;	
}

.image-wrap .hover-wrap {
	display: block;
	filter: alpha(opacity=0);
	height: 100%;
	opacity: 0;
	position: absolute;
	transition: all 450ms ease-out 0s;
	transform: rotateY(180deg) scale(0.5,0.5);
	width: 100%;
	-moz-transition: all 450ms ease-out 0s;
	-moz-transform: rotateY(180deg) scale(0.5,0.5);
	-ms-transform: rotateY(180deg) scale(0.5,0.5);
	-o-transition: all 450ms ease-out 0s;
	-o-transform: rotateY(180deg) scale(0.5,0.5);
	-webkit-transition: all 450ms ease-out 0s;
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
}

.image-wrap:hover .hover-wrap,
.image-wrap.active .hover-wrap {
	filter: alpha(opacity=100);
	opacity: 1;
	transform: rotateY(0deg) scale(1,1);
	-moz-transform: rotateY(0deg) scale(1,1);
	-ms-transform: rotateY(0deg) scale(1,1);
	-o-transform: rotateY(0deg) scale(1,1);
	-webkit-transform: rotateY(0deg) scale(1,1);
}

.image-wrap .hover-wrap .overlay-img {
	background: #f26f21;
	filter: alpha(opacity=80);
	height: 100%;
	opacity: 0.80;
	position: absolute;
	width: 100%;
}

.image-wrap .hover-wrap .overlay-text-thumb {
	color: #fff;
	filter: alpha(opacity=100);
	font-size: 20px;
	font-weight: 300;
	height: 32px;
	line-height: 32px;
	margin: -16px 0 0 0;
	opacity: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

.social-icons {
	margin: 0;
	padding: 0;
}

.social-icons li {
	display: inline-block;
	margin-left: 15px;	
}

.social-icons li:first-child {
	margin-left: 0;
}

.social-icons li a{
	color: #f26f21;
	filter: alpha(opacity=30);
	font-size: 16px;
	height: 16px;
	line-height: 1em;
	opacity: 0.3;
	width: 16px;
	transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	-o-transition: opacity 0.1s linear 0s;
	-webkit-transition: opacity 0.1s linear 0s;
}

.social-icons li a:hover{
	filter: alpha(opacity=100);
	opacity: 1;
}

.contact-details h3 {
    font-size: 2em;
    font-weight: 500;
	line-height: 1.1em;
}

.contact-details ul {
	font-weight: 500;
	list-style: none;
	margin: 0;
	padding: 0;
}

.contact-details ul li {
	line-height: 1.1em;
	margin: 0 0 20px;
	padding: 0;	
}

.input-form {
	margin-bottom: 0;	
}

.input-form p {
	margin-bottom: 1px;
}

.input-form input,
.input-form textarea {
    border: 1px solid #e5e5e5;
    border-radius: 0;
	box-shadow: none;
	color: #000;
    font-size: 16px;
    height: auto;
    padding: 15px;
	margin: .1em;
    resize: none;
    -moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
}

.input-form input {
    box-sizing: border-box;
    width: 100%;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.input-form textarea {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.input-form .submit, .reset {
    background: #f26f21;
    color: #fff;
    cursor: pointer;
    display: inline-block;
	font-size: 1.2em;
	font-weight: normal;
    line-height: 20px;
    margin-top: 30px;
    min-width: 90px;
    padding: 20px 40px;
    text-align: left;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    vertical-align: middle;
    width: auto;
	-moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
	-o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

.input-form .reset {
    background: #f6f6f6;
    color: #6b6b6b;
}

.input-form .submit:hover {
    background: #f78f00;
    color: #fff;
}

.response-text {
	background: #E56C69;
	color: #fff;
  	font-size:.8em;
  	font-weight: 500;
  	margin-left: 3px;
  	margin-top: 20px;
  	padding: 10px 20px 10px 20px;
}

#new-releases, #social-area{
    text-align: center;
}

#social-area #social ul {
	margin: 0;
	padding: 0;
}

#social-area #social ul li {
	cursor: pointer;
	display: inline-block;
	list-style: none;
	margin-left: 30px;
}

#social-area #social ul li:first-child {
	margin-left: 0;
}

#social ul li a {
	background: #eee;
	display: block;
	width: 70px;
	height: 70px;
	transition: all 400ms ease-out 0s;
	transform: rotateY(180deg);
	-moz-transition: all 400ms ease-out 0s;
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transition: all 400ms ease-out 0s;
	-o-transform: rotateY(180deg);
	-webkit-transition: all 400ms ease-out 0s;
	-webkit-transform: rotateY(180deg);
}

#social ul li a span {
	display: inline-block;
	color: #55606a;
	filter: alpha(opacity=30);
	font-size: 32px;
	line-height: 70px;
	margin: 0;
	opacity: 0.3;
	transition: all 400ms ease-out 0s;
	transform: rotateY(180deg);
	-moz-transition: all 400ms ease-out 0s;
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transition: all 400ms ease-out 0s;
	-o-transform: rotateY(180deg);
	-webkit-transition: all 400ms ease-out 0s;	
	-webkit-transform: rotateY(180deg);
}

#social ul li:hover a,
#social ul li.active a {
	background-color: #f26f21;
	transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

#social ul li:hover a span,
#social ul li.active a span {
	color: #fff;
	filter: alpha(opacity=100);
	opacity: 1;
	transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

#jpreOverlay,
#jSplash {
	background-color: #f6f6f6;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 700;
}

#jpreSlide {
	position: absolute;
	height: 100px;
	left: 50% !important;
	margin: -50px 0 0 -50px;
	top: 50% !important;
	width: 100px;
}

#jpreLoader {
	height: 100% !important;
	position: relative !important;
	top: 0 !important;
	width: 100% !important;
}

#jprePercentage {
	animation: circle 1s infinite forwards;
	color: #fff;
	font-size: 24px;
	height: 50px !important;
	left: 50%;
	line-height: 50px;
	margin: -25px 0 0 -25px;
	position: absolute !important;
	text-align: center;
	top: 50%;
	width: 50px;
	z-index: 800;
	-moz-animation: circle 1s infinite forwards;
	-ms-animation: circle 1s infinite forwards;
	-o-animation: circle 1s infinite forwards;
	-webkit-animation: circle 1s infinite forwards;
}

#circle {
	animation: circle 1s infinite forwards;
	background: #f26f21;
	border-radius: 999px;
	filter: alpha(opacity=0);
	height: 100px;
	left: 50%;
	margin: -50px 0 0 -50px;
	opacity: 0;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index: 11;
	-moz-border-radius: 999px;
	-moz-animation: circle 1s infinite forwards;
	-ms-animation: circle 1s infinite forwards;
	-webkit-animation: circle 1s infinite forwards;
	-webkit-border-radius: 999px;
}

@-webkit-keyframes circle {
	0% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
	50% {-webkit-transform: rotateY(180deg);
		-webkit-animation-timing-function: ease-out;
	}
	100% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes circle {
	0% {-moz-transform: rotateY(0deg);
	}
	50% {-moz-transform: rotateY(180deg);
		-moz-animation-timing-function: ease-out;
	}
	100% {-moz-transform: rotateY(0deg);
		-moz-animation-timing-function: ease-in;
	}
}

@-ms-keyframes circle {
	0% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
	50% {-ms-transform: rotateY(180deg);
		-ms-animation-timing-function: ease-out;
	}
	100% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
}

@-o-keyframes circle {
	0% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
	50% {-o-transform: rotateY(180deg);
		-o-animation-timing-function: ease-out;
	}
	100% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
}

@keyframes circle {
	0% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
	50% {transform: rotateY(180deg);
		animation-timing-function: ease-out;
	}
	100% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
	transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
}

.isotope {
	transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	-webkit-transition-property: height, width;
}

.isotope .isotope-item {
	transition-property: transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:      -o-transform, opacity;
	-webkit-transition-property: -webkit-transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
}

.isotope.infinite-scrolling {
	transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	-webkit-transition: none;
}